nav {
	height: 74px;
	width:100%;
	background: #fff;
	font-size: 1rem;
	position: fixed;
	top: 0;
	margin: 0 auto;

	ul {
		height: 40px;
		max-width: $max-width;
		margin:0 auto;
	}
	li {
		display: inline;
		float: left;
		margin: 15px 15px 0 0;
	}
	a {
		color: #fff;
		background-color: $navy;
		display: inline-block;
		text-align: center;
		padding: 0.5rem 0.5rem;
		text-shadow: none;
		text-align: center;
		text-transform: uppercase;
	}
	#pull {
		display: none;
	}
}

@media screen and (max-width: $breakpoint) {
	nav {
		height: auto;
		border-bottom: 0;

		ul {
			display: none;
			height: auto;
		}
		li {
			width: 100%;
			float: left;
			position: relative;
			border-bottom: 1px solid #262626;
		}
		a {
			text-align: left;
			width: 100%;
			text-indent: 1.5rem;
			background: #2e2e2e;
		}
		a:hover {
			background: #444;
		}
		#pull {
			display: block;
			background: #fff;
			width: 100%;
			position: relative;
			padding-bottom: 0;

			img{
				width: 55px;
				height: auto;
				padding: 0;
				margin: 0;
			}
		}

		#pull:after {
			content: "";
			background: $navy url(../img/nav-icon.png) no-repeat center;
			width: 45px;
			height: 45px;
			display: inline-block;
			position: absolute;
			right: 3rem;
			top:0.8rem;
		}
	}
}

























