/*$link: #4e7c92;*/
$navy: #002147;
$baby: #f8fbff;

* {
	margin: 0;
	padding: 0;
}

@import "reset";
/*@import "navigation";*/

body {
	margin: 0 auto;
	width: 970px;
	color: $navy;
	position: relative;
	background-color: $navy;
	background: url(../img/bg3.jpg) no-repeat;
	background-cover: 100% 100%;
	border-bottom: 2px $navy solid;
	background-attachment: fixed;
}

h2 {
	top: 65px;
	right: 15px;
	font-size: 3rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
}
h3 {
	font-size: 1.5rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;

}
h4 {
	font-size: 1.2rem;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;	
	padding: 10px 0;
}

#thankyou {
  font-size: 2.5em;
  position: absolute;
  top: 13px;
  left: 200px;
  background-color: #a1c7fc;
  border: 2px solid $navy;
  font-style: italic;
}

#navigation {
	border-top: 2px $navy solid;
	border-bottom: 2px $navy solid;
	width: 970px;
	background-color: rgba(255,255,255, 0.7);

	img {
		width: 150px;
		height: auto;
		padding: 15px;
		/*opacity: 0.7;*/
	}

	h1 {
		position: absolute;
		top: 65px;
		right: 15px;
		font-size: 4.3rem;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;	
	}

	ul {
		border-top: 2px $navy solid;
	}

	li {
		background: $navy;
		display: inline-block;
		padding: 5px 10px;
		margin: 10px 24px;
		width: 89px;
		text-align: center;

		a {
			color: #fff;
			font-family: Courier new, Arial, serif;
			font-size: 18px;
			text-transform: uppercase;
			text-decoration: none;
		}

		a:hover {
			color: #bdd9ff;
		}
	}
	#subFeed {
		visibility: hidden;
		position: absolute;
		top: 158px;
		right: 150px;
		letter-spacing: -2px;
		line-height: 1rem;
		font-size: 1.3rem;
		font-family: Courier new, Arial, serif;
		text-align: center;
	}
}

.wrapper {
	background-color: rgba(255,255,255, 0.85);
}

#home, #products, #clubs, #photos, #signup {
	padding-bottom: 20px;
	clear: both;
}

#home {
	table{
		width: 970px;
		td {
			width: 50%;
			line-height: 1;
			height: 350px;
			background-color: $navy;
			img {
				width: 480;
				height: auto;
			}
		}
	}
	p {
		position: absolute;
		font-family: Courier new, Arial, serif;
		color: $baby;
		width: 485px;
		text-align: center;
		font-size: 20px;
		margin-top: 22px;

		.address {
			font-size: 30px;
			a {
				text-decoration: none;
				font-size: 12px;
				color: #bdd9ff;
			}

			a:hover {
				color: #fff;
			}
		}

		.social {
			font-size: 30px;

			a {
				text-decoration: none;
				font-size: 16px;
				color: #bdd9ff;
			}

			a:hover {
				color: #fff;
			}
		}
	}
}

#about {
	p {
		white-space: pre-wrap;
		font-family: Courier new, Arial, serif;
		line-height: 15px;
		padding: 15px 25px 15px 25px;
	}
	blockquote {
		font-size: 1.5em;
		font-family: Courier new, Arial, serif;
		text-align: center;
		padding-bottom: 20px;
	}
}

#clubs div {
	font-family: Courier new, Arial, serif;
	line-height: 15px;
	text-align: center;
	width: 600px;
	margin: 0 auto;
}

#products {
	.pic {
		float: left;
		height: 160px;
		width: 130px;
		padding: 0 30px;
		margin: 15px 0;

		img {
			border: 2px solid $navy;
			width: 140px;
			height: 100px;
		}
		ul {
			margin: 0.25em 0 0; padding: 0;
			font: 16px Courier new, Arial, serif;
			line-height: 15px;
		}
	}
}

#clubs {
	ul {
		list-style: circle;
		text-align: left;
		padding-left: 140px;
		a {
			text-decoration: none;
			font-size: 16px;
			color: $navy;
		}

		a:hover {
			color: #a1c7fc;
		}
	}
}

#photos {
	table{
		margin: 0 auto;
		td {
			width: 50%;
			background-color: $navy;
			img{
				padding: 10px;
				width: 400px;
				height: 300px;
			}
			p{
				color: $baby;
				position: absolute;
				font-family: Courier new, Arial, serif;
				font-size: 1.5rem;
				width: 360px;
				margin: 35px;
			}
		}
	}
	.pic {
		float: left;
		height: 74px;
		width: 54px;
		padding: 0 20px;
		margin-top: 15px;
		margin-bottom: 0;

		img {
			border: 2px solid $navy;
			width: 70px;
			height: 50px;
		}
		ul {
			margin: 0.15em 0 0; padding: 0;
			font: 16px Courier new, Arial, serif;
			line-height: 15px;
		}
	}
}

#signup {
	padding-bottom: 10px;

	fieldset {
		border-top: 2px solid $navy; 
		font-family: Courier new, Arial, serif;

		legend {
			font-size: 0.85rem;
		}

		table {
			font-size: 1rem;
		}
	}

	.formdata {
		padding-left: 285px;
	}

	input[type=text], textarea {
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;
		padding: 3px 0px 3px 3px;
		margin: 5px 1px 3px 0px;
		border: 1px solid #DDDDDD;
	}

	input[type=text]:focus, textarea:focus {
		box-shadow: 0 0 5px rgba(81, 203, 238, 1);
		padding: 3px 0px 3px 3px;
		margin: 5px 1px 3px 0px;
		border: 1px solid rgba(81, 203, 238, 1);
	}

}